In [1]:
markdown

NameError: name 'markdown' is not defined

In [ ]:
!pip install pandas

In [ ]:
import numpy as np

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1]

0.5

In [9]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a','b','c','d']) 
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [16]:
data['b']

0.5

In [17]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [18]:
data[5]

0.5

In [19]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [20]:
population['California']

38332521

In [23]:
population['Illinois']

12882135

In [24]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [25]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [26]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [28]:
states.columns

Index(['population', 'area'], dtype='object')

In [29]:
dataframe.head

NameError: name 'dataframe' is not defined

In [30]:
DataFrame.head

NameError: name 'DataFrame' is not defined

In [31]:
DataFrame.head()

NameError: name 'DataFrame' is not defined

In [32]:
DataFrame.head(states)

NameError: name 'DataFrame' is not defined

In [34]:
states.head(3)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [35]:
data.tail()

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [36]:
data.head()

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [38]:
states.tail(3)

          population    area
New York    19651127  141297
Florida     19552860  170312
Illinois    12882135  149995

In [39]:
states.head(3)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [41]:
ind= pd.index([2,3,5,7,11])
ind

AttributeError: module 'pandas' has no attribute 'index'

In [42]:
ind= pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [43]:
ind[1]

3

In [44]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [45]:
print ('Size', ind.size, '\n', 'Shape:',ind.shape, '\n','Dimension:', ind.ndim, '\n','Data type:', ind.dtype)

Size 5
 Shape: (5,)
 Dimension: 1
 Data type: int64

In [46]:
ind[1]

3

In [47]:
ind[1]=0

TypeError: Index does not support mutable operations

data.pd.Series

In [49]:
data = pd.Series(['Hello', 'Dphi','World'], index = ['a', 'b', 'c'])
data

a    Hello
b     Dphi
c    World
dtype: object

In [50]:
data.loc['a']

'Hello'

In [51]:
loc['c']

NameError: name 'loc' is not defined

data.loc['c']

In [9]:
data.iloc[1:3]

NameError: name 'data' is not defined

In [54]:
data = pd.data[1,2,3,5,6]
data

AttributeError: module 'pandas' has no attribute 'data'

lst1 = [1,2,3,5,8,], 
S1 = p.Series(lst1)
S1

lst1 = [1,2,3,5,8]
lst2 = [8,5,3,2,1]
S1 = pd.Series (lst1)
S2 = pd.Series (lst2)
S3_add = S1 + S2
S3_sub = S1 - S2
S3_mul = S1 * S2
S3_div = S1 / S2

In [1]:
S3_add
S3_sub
S3_mul
S3_div

NameError: name 'S3_add' is not defined

In [2]:
print
S3_add
S3_sub
S3_mul
S3_div

NameError: name 'S3_add' is not defined

In [1]:
lst1 = [1,2,3,5,8]
lst2 = [8,5,3,2,1]
S1 = pd.Series (lst1)
S2 = pd.Series (lst2)
S3_add = S1 + S2
S3_sub = S1 - S2
S3_mul = S1 * S2
S3_div = S1 / S2

NameError: name 'pd' is not defined

In [2]:
lst1 = [1,2,3,5,8]
lst2 = [8,5,3,2,1]
S1 = pd.Series(lst1)
S2 = pd.Series(lst2)
S3_add = S1 + S2
S3_sub = S1 - S2
S3_mul = S1 * S2
S3_div = S1 / S2

NameError: name 'pd' is not defined

In [3]:
import pandas as pd

In [4]:
lst1 = [1,2,3,5,8]
lst2 = [8,5,3,2,1]
S1 = pd.Series(lst1)
S2 = pd.Series(lst2)
S3_add = S1 + S2
S3_sub = S1 - S2
S3_mul = S1 * S2
S3_div = S1 / S2

In [5]:
import numpy as np

In [6]:
S3_add
S3_sub 
S3_mul 
S3_div

0    0.125
1    0.400
2    1.000
3    2.500
4    8.000
dtype: float64

In [7]:
Amazon_Reviews = pd.Series ([45000, 37872, 57923, 68979, 78934, 69897, 56701])
Amazon_Reviews

0    45000
1    37872
2    57923
3    68979
4    78934
5    69897
6    56701
dtype: int64

In [10]:
Amazon_Reviews[4:6]

4    78934
5    69897
dtype: int64

In [11]:
area = pd.Series ({'Carlifonia':423967,'Texas': 695662,'New York': 141297, 'Florida': 170312, 'Illinois': 149995}) 
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.dataframe({'area':area, 'pop':pop})
data

AttributeError: module 'pandas' has no attribute 'dataframe'

In [12]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [13]:
data ['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [14]:
data ['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [15]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [16]:
data.pop

<bound method NDFrame.pop of               area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135>

In [17]:
data['pop']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: pop, dtype: int64

In [18]:
data.pop

<bound method NDFrame.pop of               area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135>

In [20]:
data['density']= data['pop']/data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [21]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [22]:
data.loc['Illinois',: 'pop']

area      149995.0
pop     12882135.0
Name: Illinois, dtype: float64

In [23]:
data.loc[:'Illinois',: 'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [24]:
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [25]:
Total_Candidates = {'absolute_beginners': 785, 'beginners': 825, 'intermediat_advanced': 602} # this is true data
Active_Candidates = {'absolute_beginners': 500, 'beginners': 425, 'intermediat_advanced': 300}  # this is hypothetical data

In [33]:
DPhi =pd.DataFrame({'Total_Candidates':Total_Candidates, 'Active_Candidates':Active_Candidates })
DPhi

                      Total_Candidates  Active_Candidates
absolute_beginners                 785                500
beginners                          825                425
intermediat_advanced               602                300

In [35]:
DPhi['Total_Candidates']

absolute_beginners      785
beginners               825
intermediat_advanced    602
Name: Total_Candidates, dtype: int64

In [36]:
NonActive_Candidates =DPhi ['Total_Candidates']-DPhi['Active_Candidates']
NonActive_Candidates

absolute_beginners      285
beginners               400
intermediat_advanced    302
dtype: int64

In [37]:
NonActive_Candidates
DPhi

,Total_Candidates,Active_Candidates,NonActive_Candidates
absolute_beginners,785,500,285
beginners,825,425,400
intermediat_advanced,602,300,302

In [38]:
DPhi['Percentage_Candidates']=DPhi ['Active_Candidates']/DPhi['Total_Candidates']
DPhi

,Total_Candidates,Active_Candidates,NonActive_Candidates,Percentage_Candidates
absolute_beginners,785,500,285,0.636943
beginners,825,425,400,0.515152
intermediat_advanced,602,300,302,0.498339

In [39]:
DPhi ['60%batch'] = DPhi['Active_Candidates'] * 0.6
DPhi

,Total_Candidates,Active_Candidates,NonActive_Candidates,Percentage_Candidates,60%batch
absolute_beginners,785,500,285,0.636943,300.0
beginners,825,425,400,0.515152,255.0
intermediat_advanced,602,300,302,0.498339,180.0